* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

.community_sec {
  inset-block-start: 20rem;
  &_inner {
    background-color: #fafafa;
    height: 50vh;

    .logo_header {
      p {
        inset-block-start: 3rem;
        font-weight: 600;
        font-size: 56px;
        line-height: 65px;
        letter-spacing: 20px;
        color: #1e2329;
        text-transform: uppercase;
      }
    }
    .logo_section {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 2rem;
      width: 20rem;

      inset-block-start: 6rem;
      inset-inline-start: 30rem;

      &_inner {
        .logo1 {
          cursor: pointer;
        }
      }
    }
  }
}
