* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

.dashsec {
  &_inner {
    height: 100vh;

    .dash_header {
      text-align: left;
      inset-inline-start: 1rem;
      text-transform: uppercase;
      font-size: 22px;
      font-weight: 600;
    }
    .navbarinfo_sec {
      &_inner {
        .navbar_contents {
          ul {
            cursor: pointer;

            display: flex;
            li {
              margin-right: 1rem;
              margin-top: 0.5rem;
            }

            .nav_text {
              color: blue;

              &:hover {
                color: red;
              }
            }
          }
        }
      }
    }
  }
}
