* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

/* Home Page Design */

.home {
  .first_section {
    background-color: #fafafa;
    height: 140vh;
    display: flex;
    justify-content: space-between;

    .home_left_side {
      inset: 5rem 5rem;

      text-align: left;
      width: 30rem;
      &_inner {
        .left_side_text {
          font-weight: 600;
          font-size: 56px;
          line-height: 65px;
          color: #1e2329;
        }

        .left_side_form {
          inset-block: 3rem;
          form {
            input[type="email"] {
              width: 20rem;
              height: 3rem;
              border: 1px solid #b7bdc6;
            }
            input[type="submit"] {
              width: 9rem;
              inset-inline: 10px;
              height: 3rem;
              background-color: #fcd535;
              border-radius: 10px;
              border: none;
            }
          }
        }
      }
    }

    .home_right_side {
      inset-inline: -5rem;
      inset-block: 5rem;
      &_inner {
        .right_side_img {
          width: 446px;
          height: 368px;
        }
      }
    }
    .analysis {
      position: absolute;
      display: flex;
      justify-content: space-evenly;
      inset: 41rem 1rem;

      height: 120px;

      .text {
        inset-inline: 1rem;
        width: 15rem;
        text-align: left;
        .large_text {
          font-weight: 600;
          font-size: 40px;
          line-height: 48px;
          color: #1e2329;
        }
        .small_text {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #1e2329;
        }
      }
    }
  }
}

.second_section {
  &_inner {
    display: flex;
    justify-content: space-between;
    .second_section_left_side {
      &_inner {
        .heading_sec {
          p.heading {
            font-weight: "600";
            font-size: 40px;
            line-height: 48px;
          }
          p.heading_text {
            font-weight: "400";
            font-size: 22px;
            line-height: 28px;
            inset: -6px -19px;
            color: #707a8a;
          }
        }

        .section_portfolio {
          display: flex;
          justify-content: space-between;
          text-align: left;
          inset: 0 87px;
          .icon {
            width: 100px;
            height: 100px;
            font-size: 100px;
            margin-bottom: 90px;
          }
          .portfolio {
            margin-top: 40px;
            margin-left: 40px;
            width: 30rem;

            p.portfolio_header {
              font-weight: 600;
              font-size: 24px;
              line-height: 32px;
              text-align: left;
              color: #1e2329;
            }
            p.portfolio_text {
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              color: #707a8a;
              inset: -10px 1px;
              text-align: left;
            }
          }
        }
      }
    }
    .second_section_right_side {
      width: 600px;

      &_inner {
        img {
          width: 335px;
          height: auto;
        }
      }
    }

    button {
      width: 180px;
      height: 44px;
      position: absolute;
      inset: 42rem 5.5rem;
      border: none;
      border-radius: 10px;
      background-color: #fcd535;
    }
  }
}
